<footer class="bg-light text-center text-lg-start" style="position: fixed; left: 0;bottom: 0;width: 100%;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p>Mentions légales</p>
        <p>Contacts</p>
    </div>
</footer>