{# Bloc de recherche à partir d'ids #}

<h3>Recherche</h3>
<div class="container">
    <form action="?c=GestionClient&a=chercheUn" method="post">
        <div class="form-group">
            <label for="Numéro du client">Id du client</label>
            <select class="form-control" id="titre" name="id">
                {%  for id in lesId %}
                    {% if idClient and idClient==id['id'] %}
                        <option select>{{ id['id'] }}</option>
                    {% else %}
                        <option> {{ id['id'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Voir" class="btn btn-default"/>
    </form>
</div>