{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="container">
        <h2>Nouveau Client</h2>
        <form action="index.php?c=GestionClient&a=enregistreClient" method="post">
            <div class="form-group">
                <label for="titre">Titre</label>
                <select class="form-control" id="titre" name="titreCli" required>
                    <option>Choisir...</option>
                    <option>Monsieur</option>
                    <option>Mademoiselle</option>
                    <option>Madame</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nom">Nom :</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom" name="nomCli" value="" required>
                <label for="prenom">Prénom :</label>
                <input type="text" class="form-control" id="prenom" placeholder="Prénom" name="prenomCli" value="" required>
                <label for="adresse1">Adresse :</label>
                <input type="text" class="form-control" id="adresse1" placeholder="Adresse" name="adresseRue1Cli" value="" required>
                <label for="adresse2">Complément d'adresse :</label>
                <input type="text" class="form-control" id="adresse2" placeholder="Complément d'adresse (facultatif)" name="adresseRue2Cli" value="">
                <label for="CP">Code postal :</label>
                <input type="text" class="form-control" id="cp" placeholder="Code postal" name="cpCli" value="" required>
                <label for="ville">Ville :</label>
                <input type="text" class="form-control" id="ville" placeholder="Ville" name="villeCli" value="" required>
                <label for="tel">Téléphone :</label>
                <input type="tel" class="form-control" id="tel" placeholder="tel" name="telCli" value="">
            </div>
            <button type="submit" class="btn btn-default">Créer le Client</button>
        </form>
    </div>
{% endblock %}
{%  block footer %}
    {{ parent() }}
{% endblock %}