{% extends "layout.html.twig" %}
{% block contenu %}
    <h2> Liste des clients </h2>
    {{ include('/blocks/arrayClients.html.twig') }}
{% endblock %}

{% block footer %}
    <p>Nombre de client : {{ clients|length }}</p>
    {{  parent() }}
{% endblock %}